:root {
  --pink: #ecb6ce;
  --bg: #0a0a0a;
  --shadow: 0 2px 2px rgb(0 0 0 / 0.5);
}

body {
  font-size: 1.2rem;
  font-family: 'Work Sans', sans-serif;
  min-height: 4000px;
}

header, footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1rem;
}

.hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(img/Desaign2.png);
  background-size: cover;
  z-index: -1;
  background-position: top center;
  background-attachment: fixed;
}

.hero {
  position: relative;
  min-height: 100vh;
}

.hero h1,
.hero h4,
.hero p {
  text-shadow: var(--shadow);
}

.hero h1 {
  font-family: 'Poppins', cursive;
  font-size: 2rem;
}

.hero h4 {
  font-size: 1rem;
}

.hero p {
  font-size: 1rem;
}

.hero a {
  color: var(--pink);
  background-color: white;
  box-shadow: var(--shadow);
}

.hero a:hover {
  background-color: var(--pink);
  color: white;
  margin-top: 0.5rem;
}

.home {
  background-image: url(img/Desaign1.jpg);
  background-repeat: repeat; /* Mengulangi gambar */
  background-size: cover; /* Menyesuaikan gambar dengan ukuran elemen */
  background-position: top center; /* Posisi gambar di tengah */
  min-height: 100vh;
  margin-top: -1rem;
  padding-top: 11rem;
  padding-bottom: 10rem;
}


.home h2,
.info h2,
.story h2,
.gallery h2,
.rsvp h2,
.gifts h2 {
  color: #ecb6ce;
  font-family: 'Poppins';
  font-size: 2rem;
  font-weight: bold;
}

.home h3 {
  color: #444;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.home p {
  font-size: 1.1rem;
  color: #666;
}

.home .couple {
  margin-top: 100px;
}

.home .couple h3 {
  font-family: 'Sacramento';
  font-size: 2rem;
  color: #ecb6ce;
  font-weight: bold;
}

.home .couple h5 {
  font-family: 'Poppins';
  font-size: 1rem;
  color: #bb94d1;
  font-weight: bold;
}

.home .couple h6 {
  font-family: 'PoppinsS';
  font-size: 0.5rem;
  color: #000000;
}

.home .couple img {
  width: 100%;
}

.img-responsive {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 15px;
}

.info {
  background-color: var(--bg);
  color: rgb(84, 52, 52);
  padding-top: 10rem;
  padding-bottom: 8rem;
  background-image: url(img/Desaign4.png);
  background-size: cover;
  min-height: 100vh;
  margin-top: -6rem;
  padding-top: 15rem;
  padding-bottom: 5rem;
}

.info .alamat {
  font-size: 1.1rem;
}

.info .description {
  font-size: 1rem;
  font-weight: 300;
}

.info .card {
  background-color: rgba(169, 169, 216, 0.2) !important;
  color: rgb(54, 48, 100) !important;
  border: 1px solid #999;
  font-weight: bold;
}

.info .card-header {
  border-bottom: 1px solid #999;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.info .card-body {
  font-size: 1rem;
}

.info .card-footer {
  border-top: 1px solid #999;
  font-size: 1rem;
  font-weight: 300;
  font-weight: bold;
}

.story,
.gallery,
.rsvp,
.gifts {
  padding-top: 10rem;
  padding-bottom: 8rem;
}

.story span,
.gallery span,
.gifts span {
  text-transform: uppercase;
  color: #666;
  font-size: 0.9rem;
  letter-spacing: 1px;
  display: block;
  margin-bottom: 1rem;
}

.story p,
.gallery p,
.rsvp p,
.gifts p {
  font-size: 1rem;
  font-weight: 300;
}

.timeline {
  list-style: none;
  padding: 1.4rem 0;
  margin-top: 1rem;
  position: relative;
}

.timeline::before {
  content: '';
  top: 0;
  bottom: 0;
  position: absolute;
  width: 1px;
  background-color: #ccc;
  left: 50%;
}

.timeline li {
  margin-bottom: 1.5rem;
  position: relative;
}

.timeline li::before,
.timeline li::after {
  content: '';
  display: table;
}

.timeline li::after {
  clear: both;
}

.timeline li .timeline-image {
  width: 160px;
  height: 160px;
  background-color: #ccc;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.timeline li .timeline-panel {
  width: 40%;
  float: left;
  border: 1px solid #ccc;
  padding: 2rem;
  position: relative;
  border-radius: 8px;
  background-color: #fff;
}

.timeline li .timeline-panel::before {
  content: '';
  display: inline-block;
  position: absolute;
  border-top: 15px solid transparent;
  border-left: 15px solid #ccc;
  border-right: 0 solid #ccc;
  border-bottom: 15px solid transparent;
  top: 80px;
  right: -15px;
}

.timeline li .timeline-panel::after {
  content: '';
  position: absolute;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid #fff;
  border-right: 0 solid #fff;
  border-bottom: 14px solid transparent;
  top: 81px;
  right: -13px;
}

.timeline li.timeline-inverted .timeline-panel {
  float: right;
}

.timeline li.timeline-inverted .timeline-panel::before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}

.timeline li.timeline-inverted .timeline-panel::after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -13px;
  right: auto;
}

.gallery {
  background-color: var(--bg);
  color: rgb(84, 52, 52);
  padding-top: 10rem;
  padding-bottom: 8rem;
  background-image: url(img/Desaign3.png);
  background-size: cover;
  min-height: 100vh;
  margin-top: -6rem;
  padding-top: 15rem;
  padding-bottom: 5rem;
}

.rsvp {
  background-color: #ede1f8;
}

.rsvp h2 {
  font-size: 2rem;
}

.rsvp p {
  color: #ecb6ce;
  font-size: 1rem;
  font-weight: bold;
}

.rsvp form label {
  color: #ecb6ce;
  font-weight: bold;
}

.rsvp button {
  background-color: var(--pink);
  color: #ffffff;
  border: 1px solid var(--pink);
}

.rsvp button:hover {
  background-color: #ecb6ce;
  color: var(--pink);
  border: 1px solid #ecb6ce;
}

.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ecb6ce;
  color: white;
  padding: 15px 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-size: 16px;
  z-index: 1000;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@keyframes fadein {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeout {
  from {opacity: 1;}
  to {opacity: 0;}
}
footer {
  padding: 3rem;
  background-color: #ecb6ce;
  color: white;
  font-size: 1rem;
}

footer a {
  color: var(--bg);
  font-weight: bold;
  text-decoration: none;
}

footer a:hover {
  color: white;
}

footer li {
  list-style: none;
  display: inline;
  margin: 0.5rem;
}

.audio-icon-wrapper {
  width: 1rem;
  height: 1rem;
  font-size: 2rem;
  position: fixed;
  bottom: 2.5rem;
  right: 2rem;
  cursor: pointer;
  color: #ecb6ce;
  opacity: 0.5;
  mix-blend-mode: difference;
  animation: rotating 4s linear infinite;
  transform-origin: center;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 0;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.hero h4, .hero h1, .hero p {
  animation: fadeIn 1s ease-in-out;
}

.hero h4:nth-child(1) {
  animation-delay: 0.5s;
}

.hero h4:nth-child(2) {
  animation-delay: 1s;
}

.hero h1 {
  animation-delay: 1.5s;
}

.hero p {
  animation-delay: 2s;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.home h2, .home h3, .home p {
  opacity: 0;
  animation: fadeInUp 1s forwards;
}

.home .couple .col-lg-6:nth-child(1) .text-end {
  opacity: 0;
  animation: fadeInLeft 1s forwards;
}

.home .couple .col-lg-6:nth-child(2) .text-start {
  opacity: 0;
  animation: fadeInRight 1s forwards;
}

.home h2 {
  animation-delay: 0.2s;
}

.home h3 {
  animation-delay: 0.4s;
}

.home p {
  animation-delay: 0.6s;
}

.home .couple .col-lg-6:nth-child(1) .text-end {
  animation-delay: 0.8s;
}

.home .couple .col-lg-6:nth-child(2) .text-start {
  animation-delay: 1s;
}

/* Media Query */
/* Extra large */
@media (max-width: 1200px) {
  .home .heart {
    transform: translateX(-50%) translateY(45px);
  }
}

/* laptop */
@media (max-width: 992px) {
  html {
    font-size: 75%;
  }

  .simply-countdown > .simply-section {
    padding: 70px;
  }

  .home .heart {
    display: none;
  }

  .timeline::before {
    left: 60px;
  }

  .timeline li .timeline-image {
    left: 15px;
    margin-left: 45px;
    top: 16px;
  }

  .timeline li .timeline-panel {
    width: calc((100% - 200px));
    float: right;
  }

  .timeline li .timeline-panel::before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
  }

  .timeline li .timeline-panel::after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -13px;
    right: auto;
  }
}

/* tablet */
@media (max-width: 768px) {
  html {
    font-size: 65%;
  }

  .simply-countdown > .simply-section {
    padding: 60px;
    margin: 5px;
  }

  .mynavbar .nav-link {
    font-size: 2rem;
    text-align: center;
  }

  .sticky-top {
    overflow: hidden;
  }

  .timeline li .timeline-image {
    width: 140px;
    height: 140px;
  }
}

/* mobile phone */
@media (max-width: 576px) {
  html {
    font-size: 60%;
  }

  .simply-countdown > .simply-section {
    padding: 45px;
    margin: 3px;
  }

  .timeline li .timeline-image {
    width: 80px;
    height: 80px;
  }

  .timeline li .timeline-panel {
    width: 65%;
    transform: translateX(-20px);
  }

  .timeline li .timeline-panel::before {
    top: 30px;
  }

  .timeline li .timeline-panel::after {
    top: 31px;
  }
}
